:root {
  --dawn100: rgb(254, 252, 248);
  --lavendar100: rgb(254, 221, 254);
  --lavendar200: rgb(252, 188, 252);
  --lavendar300: rgb(254, 142, 254);
  --gold100: rgb(253, 242, 159);
  --sky100: rgb(224, 237, 254);
  --sky200: rgb(158, 194, 251);
  --sky300: rgb(147, 178, 252);
  --emerald100: rgb(161, 255, 151);
  --emerald200: rgb(121, 251, 106);
  --slate100: rgb(44, 45, 46);
  --slate200: rgba(20, 17, 23, 0.79);
  --slate300: rgb(40, 40, 41);
}

html body {
  /* background-image: url(../media/IMG_1637.JPG); */
  background-color: var(--slate300);
  background-position: fixed;
  color: var(--dawn100);
}

.footspace {
  margin-bottom: 1em;
}

.welcome {
  font-size: 68px;
}

.heading {
  font-size: 38px;
}

h5 {
  font-size: 23px;
}

.mainText {
  color: var(--sky100);
  font-size: 18px;
  text-shadow: 1px 2px 24px rgb(21, 21, 21);
  margin-left: 2rem;
  margin-right: 2rem;
}


img {
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
  margin-bottom: 1em;
  border-radius: 10px;
  transition: 1s;
  max-height: 275px;
}

img:hover {
  transform: scale(105%);
}

a {
 color: var(--lavendar100);
 text-decoration: none;
 padding: 5px;
}

.github-icon {
  color: var(--sky200);
}

.resume {
  color: var(--emerald100);
}


.exp {
  text-shadow: 1px 2px 24px rgb(21, 21, 21);
}

span {
  color: var(--lavendar200);
}

.portrait {
border: rgb(61, 61, 104) solid 4px;
}


i {
  padding-top: 10px;
  padding-left: 10px;
}

.card {
min-height: 590px;
background-color: var(--slate200);
box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
border: none;
text-align: center;
border-radius: 10px;
}

.card p {
  padding-left: 10px;
  padding-right: 10px;
}

.video-card {
  padding: 1em;
  border-radius: 10px;
  background-color: var(--slate200);
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
  max-width: 500px;
}

.link {
  color: var(--lavendar100);
  background-color: var(--slate200);
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
}

.link2 {
  color: var(--sky200);
  background-color: var(--slate200);
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
}

.video {
  border-radius: 7px;
  border: var(--slate) solid 3px;
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
}

.contact {
  max-width: 600px;
}

.demos {
  padding-top: 3em;
}

a:hover {
  text-decoration: none;
  border: none;
  color: var(--lavendar100);
}

.card:hover {
  box-shadow: 8px 8px 20px rgba(16, 16, 16, 0.738);
}

a:hover {
  color: var(--lavendar200);
  text-decoration: none;
 }

 .github-icon:hover {
  color: var(--sky300);
 }


.link:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 12px 18px rgba(14, 14, 14, 0.609);
}

.link2:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 12px 18px rgba(14, 14, 14, 0.609);
}

.link3:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 8px 18px rgba(14, 14, 14, 0.609);
}

.resume:hover {
  color: var(--emerald200);
}