:root {
  --dawn100: rgb(254, 252, 248);
  --lavendar100: rgb(252, 219, 252);
  --lavendar200: rgb(253, 184, 253);
  --lavendar300: rgb(132, 66, 179);
  --sky200: rgb(158, 194, 251);
  --slate: rgb(45, 47, 48);
}

html body {
  background-image: url(../media/IMG_1637.JPG);
  background-position: 100%;
  color: var(--dawn100);
}

.footer {
  background-color: rgba(26, 26, 26, 0.893);
}

.welcome {
  font-size: 68px;
}

.heading {
  font-size: 48px;
  /* text-shadow: var(--slate) 10px, 8px 10px; */
}

h5 {
  font-style: italic;
  font-size: 23px;
}

.mainText {
  color: var(--lavendar100);
  font-size: 18px;
  text-shadow: 3px 4px 8px rgba(21, 21, 21, 0.952);
}


img {
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
  margin-bottom: 1em;
}


.video-card {
  padding: 1em;
  border-radius: 8px;
  background-color: var(--slate);
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
}

.video {
  border-radius: 7px;
  border: black solid 1px;
  box-shadow: 7px 7px 10px rgba(14, 14, 14, 0.609);
}

.demos {
  padding-top: 3em;
}



a:hover {
  text-decoration: none;
  border: none;
}

img:hover {
  box-shadow: 8px 8px 20px rgba(16, 16, 16, 0.738);
}


.link:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 12px 18px rgba(14, 14, 14, 0.609);
}

.link2:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 12px 18px rgba(14, 14, 14, 0.609);
}

.link3:hover {
  text-decoration: none;
  font-style: none;
  color: var(--studio);
  box-shadow: 10px 8px 18px rgba(14, 14, 14, 0.609);
}

.contact-btn:hover {
  box-shadow: 10px 12px 18px rgba(14, 14, 14, 0.609);
  background-color: var(--slate);
}
